<li id="follower_relationship-<%= follower_relationship.id %>">
  <%= link_to gravatar_for(follower_relationship.follower, size: 50), follower_relationship.follower %>
  <span class="user"><%= link_to follower_relationship.follower.name, follower_relationship.follower %></span>
  <span class="timestamp">
    be follower : <%= time_ago_in_words(follower_relationship.created_at) %> ago.
  </span>
</li>